<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Bem vindo a area de clientes</h1>
    <hr>
    <p><a href="/">Voltar para o inicio</a></p>

    <% listaClientes.forEach(function(cliente) { %>
        <p>
            <a href="clientes/<%= cliente %>">
             <%= cliente %> 

             </a>

        
        
        </p>

    <% }) %>

    <p><a href="/">Voltar para o inicio</a></p>
    
</body>
</html>